@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
*{
    font-family: 'Quicksand';
}
body{
    background-color: rgb(247, 247, 247);
}
nav{
    justify-content: space-between;
    align-items: center;
}
nav, article, .standard-curriculum-container, .stories-container{
    max-width: 1160px;
    margin: 0 auto;
}
section{
    background: url(assets/bg.png);
}
h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 0;
}
ul{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    gap: 32px;
}
.flex{
    display: flex;
}
.paragraph{
    color: rgb(128, 128, 128);
    font-size: 15px;
    font-weight: 500;
}
.btn{
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    width: 196px;
    height: 50px;
    padding: 10px;
}
.hero-paragraph{
    font-size: 20px;
    font-weight: 400;
}
.btn-nav-contact{
    background-color: rgb(254, 163, 1);
}
.btn-enroll-now, .btn-view-all{
    background: rgb(17, 17, 17);
}
.hero-container{
    justify-content: space-between;
}
.hero-section{
    flex-direction: column;
    justify-content: center;
    width: 640px;
    gap: 12px;
}
.section-header{
    font-size: 46px;
    font-weight: 700;
    margin-top: 0;
}
.standard-curriculum-container, .stories-container, .stories-grid{
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
    gap: 80px;
}
.standard-curriculum-section{
    justify-content: space-between;
    align-items: center;
}
.class-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 288px;
    height: 396px;
    padding: 40px;
}
.btn-more{
    font-size: 24px;
    font-weight: 900;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgb(254, 163, 1);
}
.read-more{
    font-weight: 700;
}
.stories-grid{
    display: grid;
    grid-template-areas:
    'story-grid-1 story-grid-2 story-grid-3'
    'story-grid-1 story-grid-4 story-grid-5';
    gap: 20px;
}
.story{
    flex-direction: column;
}
.story-content{
    text-align: left;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 0 0 16px 16px;
}
.story img{
    border-radius: 16px 16px 0 0;
}
#school-logo{
    height: fit-content;
    margin-right: 12px;
}
#home-li, #empowering{
    color: rgb(254, 163, 1);
}
#about-li, #towards-vision{
    color: rgb(1, 172, 253);
}
#facilities-li{
    color: rgb(5, 212, 223);
}
#admission-li{
    color: rgb(93, 88, 239);
}
#kinder{
    border: 1px solid rgb(222, 245, 255);
    background: linear-gradient(180deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#elementary-school{
    border: 1px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#middle-school{
    border: 1px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#skyblue{
    color: rgb(100, 200, 255);
}
#yellow{
    color: rgb(240, 170, 0);
}
#purple{
    color: rgb(135, 0, 255);
}
#stories-section{
    background: url(assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
#story-1{
    grid-area: story-grid-1;
}
#story-2{
    grid-area: story-grid-2;
}
#story-3{
    grid-area: story-grid-3;
}
#story-4{
    grid-area: story-grid-4;
}
#story-5{
    grid-area: story-grid-5;
}