@media screen and (max-width: 576px) {
    body{
        margin: 0;
    }
    .hidden{
        display: none;
    }
    .hamburger{
        display: inline;
        width: 3rem;
    }
    nav, article, .hero-section, .standard-curriculum-container, .stories-container, .footer-section{
        width: 90%;
        margin: 0 auto;
    }
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero-section{
        align-items: center;
        text-align: center;
        margin-top: 16px;
    }
    header{
        border: 1px solid rgb(254, 163, 1) ;
    }
    h1, .section-header{
        font-size: 32px;
    }
    .hero-paragraph, .footer-paragraph{
        font-size: 14px;
        font-weight: 500;
    }
    .hero-img{
        width: 100%;
    }
    .btn{
        width: 40%;
        padding: 6px 24px;
        font-size: 1rem;
    }
    .standard-curriculum-container{
        gap: 10px;
    }
    .standard-curriculum-section{
        flex-direction: column;
        gap: 20px;
    }
    .stories-grid{
        display: flex;
    }
}