@media screen and (max-width: 576px) {
    body{
        margin: 0;
    }
    nav, article, .hero-section, .standard-curriculum-container, .stories-container, .footer-section{
        width: 90%;
        margin: 0 auto;
    }
    header{
        border: 1px solid rgb(254, 163, 1) ;
    }
    footer{
        padding: 40px 20px;
    }
    h1, .section-header{
        font-size: 32px;
    }
    marquee{
        text-align: center;
    }
    .hidden{
        display: none;
    }
    .hamburger{
        display: inline;
        width: 3rem;
    }
    .btn{
        width: 40%;
        padding: 6px 24px;
        font-size: 1rem;
    }
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero-section{
        align-items: center;
        text-align: center;
        margin-top: 16px;
    }
    .hero-paragraph{
        font-size: 14px;
        font-weight: 500;
    }
    .hero-img{
        width: 100%;
    }
    .standard-curriculum-container{
        gap: 10px;
    }
    .standard-curriculum-section{
        flex-direction: column;
        gap: 20px;
    }
    .story img{
        width: 100%;
    }
    .grid{
        width: 100%;
    }
    .story-content h4{
        font-size: .75rem;
        margin-top: -12px;
        margin-left: -10px;
        width: 125%;
    }
    .date{
        font-size: .75rem;
        width: 122.5%;
        left: -20px;
    }
    .footer-section{
        display: inline;
        padding: 0;
    }
    .footer-logo h2{
        margin-bottom: 0;
    }
    .footer-paragraph{
        font-size: 1.15rem;
        font-weight: 400;
    }
    .footer-about-us-section ul li{
        margin: 18px auto;
    }
    #july-date{
        width: fit-content;
    }
}